<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yingu.project.big.data.persistence.mapper.bxd.BxdBeneficiaryMapper" >
  <resultMap id="BaseResultMap" type="com.yingu.project.big.data.persistence.entity.bxd.BxdBeneficiary" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="order_num" property="orderNum" jdbcType="VARCHAR" />
    <result column="details_id" property="detailsId" jdbcType="VARCHAR" />
    <result column="beneficiary_status" property="beneficiaryStatus" jdbcType="VARCHAR" />
    <result column="beneficiary_relationship" property="beneficiaryRelationship" jdbcType="VARCHAR" />
    <result column="beneficiary_name" property="beneficiaryName" jdbcType="VARCHAR" />
    <result column="beneficiary_order" property="beneficiaryOrder" jdbcType="VARCHAR" />
    <result column="beneficiary_scale" property="beneficiaryScale" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>