<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yingu.project.big.data.persistence.mapper.bxd.BxdSunshinePaymentInfoMapper" >
  <resultMap id="BaseResultMap" type="com.yingu.project.big.data.persistence.entity.bxd.BxdSunshinePaymentInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="order_num" property="orderNum" jdbcType="VARCHAR" />
    <result column="total_premium" property="totalPremium" jdbcType="VARCHAR" />
    <result column="period_amount" property="periodAmount" jdbcType="VARCHAR" />
    <result column="period" property="period" jdbcType="VARCHAR" />
    <result column="start_date" property="startDate" jdbcType="VARCHAR" />
    <result column="end_date" property="endDate" jdbcType="VARCHAR" />
    <result column="pay_model" property="payModel" jdbcType="VARCHAR" />
    <result column="next_pay_date" property="nextPayDate" jdbcType="VARCHAR" />
    <result column="next_pay_amount" property="nextPayAmount" jdbcType="VARCHAR" />
    <result column="pay_due_date" property="payDueDate" jdbcType="VARCHAR" />
    <result column="date_payable" property="datePayable" jdbcType="VARCHAR" />
    <result column="paid_date" property="paidDate" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="bank" property="bank" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="current_pay_due_date" property="currentPayDueDate" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="first_pay_date" property="firstPayDate" jdbcType="VARCHAR" />
    <result column="first_pay_amount" property="firstPayAmount" jdbcType="VARCHAR" />
    <result column="pay_count" property="payCount" jdbcType="VARCHAR" />
    <result column="paid_count" property="paidCount" jdbcType="VARCHAR" />
    <result column="list_id" property="listId" jdbcType="VARCHAR" />
    <result column="pay_record_list_id" property="payRecordListId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="orderBy" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
        *
    FROM
        bxd_sunshine_payment_info
    WHERE
        order_num=#{orderNum}
    ORDER BY
        DATE_FORMAT(paid_date, '%y%m%d') DESC
  </select>
</mapper>